@if (isModalOpen) {
<app-debtors-modal (close)="closeDebtorsModal()" (updateDebtors)="updateDebtorsList()" [managerId]="managerId()"/>
}
<div class="container">
    <table class="debtors-table">
        @if (managingDebtors) {
        <tr>
            <th id="modal-btn-th">
                <button class="table-btn add-btn" (click)="openDebtorsModal()">
                    <span class="add-span">➕</span>
                </button>
            </th>
        </tr>
        }@else {
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        }
        @for (debtor of debtors(); track debtor._id) {
        <tr>
            <td>{{ debtor.identification.number }}</td>
            <td>{{ debtor.name }}</td>
            @if (managingDebtors) {
            <td id="delete-btn-td">
                <button class="table-btn delete-btn" (click)="onRemoveDebtor(debtor._id)">
                    <span class="delete-span">➖</span>
                </button>
            </td>
            } @else {
            <td>{{ debtor.financing.status }}</td>
            }
        </tr>
        }
        <tr id="final-row">
            <td> </td>
        </tr>
    </table>
    <div class="btn-container">
        @if (managingDebtors) {
        <button class="secondaryBtn" (click)="cancelManage()">Cancelar</button>

        } @else {
        <button class="secondaryBtn" (click)="manageDebtors()">Asignar / Remover deudores</button>
        }
    </div>
</div>