<div class="backdrop" (click)="closeModal()"></div>
<div class="dialog-container">
    <dialog open>
        <div class="container">
            <p>{{ 'BUTTONS.UPLOAD_IMG' | translate }}</p>
            <div class="input-container">
                <label for="fileInput" class="fileInputLabel secondaryBtn">
                    Browse
                </label>
                <input type="file" id="fileInput" class="fileInput" style="display: none;"
                    (change)="onFileSelected($event)">
            </div>
            @if (selectedFile) {
            <div class="img-container">
                <img [src]="this.selectedFile ? imageUrl : 'assets/imgs/user.png'" alt="Image preview">
            </div>
            }
            <div class="btn-container">
                <button class="primaryBtn editBtn" (click)="uploadImage()" [disabled]="!selectedFile">
                    {{ 'BUTTONS.UPDATE' | translate }}
                </button>
                <button class="primaryBtn editBtn" (click)="onCancel()">
                    {{ 'BUTTONS.CANCEL' | translate }}
                </button>
            </div>
        </div>
    </dialog>
</div>