<div class="backdrop" (click)="closeModal()"></div>
<div class="dialog-container">

    <dialog open>
        <div class="container">
            @if (isOldPasswordWrongOrNotEnteredYet) {
            <p>Please enter your old password</p>
            <form [formGroup]="oldPasswordForm" (ngSubmit)="checkPassword()">
                <div class="input-container">
                    <input type="password" name="oldPassword" id="oldPassword" formControlName="oldPassword">
                </div>
                <div class="btn-container">
                    <button type="submit" class="primaryBtn">Submit</button>
                </div>
            </form>
            } @else {
            <p>Please enter a new password</p>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-container">
                    <input type="password" name="newPassword" id="newPassword" formControlName="newPassword">
                </div>
                <div class="btn-container">
                    <button type="submit" class="primaryBtn editBtn">Save</button>
                    <button type="button" (click)="closeModal()" class="primaryBtn editBtn">Cancel</button>
                </div>
            </form>
            }
        </div>
    </dialog>
</div>