<div class="backdrop" (click)="closeModal()"></div>
<div class="dialog-container">

    <dialog open>
        <div class="container">
            @if (isOldPasswordWrongOrNotEnteredYet) {
            <p>{{ 'UI.ACCOUNT.OLD_PASS' | translate }}</p>
            <form [formGroup]="oldPasswordForm" (ngSubmit)="checkPassword()">
                <div class="input-container">
                    <input type="password" name="oldPassword" id="oldPassword" formControlName="oldPassword">
                </div>
                <div class="btn-container">
                    <button type="submit" class="primaryBtn">
                        {{ 'BUTTONS.CHECK' | translate }}
                    </button>
                </div>
            </form>
            } @else {
            <p>{{ 'UI.ACCOUNT.NEW_PASS' | translate }}</p>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-container">
                    <input type="password" name="newPassword" id="newPassword" formControlName="newPassword">
                </div>
                <div class="btn-container">
                    <button type="submit" class="primaryBtn editBtn">
                        {{ 'BUTTONS.SAVE' | translate }}
                    </button>
                    <button type="button" (click)="closeModal()" class="primaryBtn editBtn">
                        {{ 'BUTTONS.CANCEL' | translate }}
                    </button>
                </div>
            </form>
            }
        </div>
    </dialog>
</div>