<div class="container">
    <div class="user-container form-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="logo">
                <img src="assets/imgs/finaliado.png" alt="FinAliado logo">
            </div>
            <div class="input-container">
                <label for="email">{{ 'FIELDS.EMAIL' | translate }}</label><br>
                <input type="text" id="email" name="email" formControlName="email">
            </div>
            <div class="input-container">
                <label for="password">{{ 'FIELDS.PASSWORD' | translate }}</label><br>
                <input type="password" id="password" name="password" formControlName="password"><br>
                @if(errorMessage !== '') {
                <span>{{ 'UI.LOGIN.WRONG_PASS_OR_EMAIL' | translate }}</span>
                }
            </div>
            <div class="btn-container">
                <button type="submit" class="primaryBtn" style="width: 150px;" [disabled]="this.form.invalid">
                    {{ 'BUTTONS.LOGIN' | translate }}
                </button>
            </div>
            <div class="a-container">
                <p>{{ 'UI.LOGIN.NO_ACCOUNT' | translate }} <a routerLink="/auth/register">
                        {{ 'UI.LOGIN.SIGNUP' | translate }}
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>