@if (financing() === undefined) {

} @else {
<div class="motorcycle-container">
    <table>
        <tr>
            <th>Cuota inicial</th>
            <th>Total financiado</th>
            <th>Número de cuotas</th>
            <th>Interés mensual</th>
            <th>Interés mora</th>
            <th>Total a pagar</th>
        </tr>
        <tr>
            <td>${{financing().initialInstallment}}</td>
            <td>${{financing().financedAmount}}</td>
            <td>{{financing().numberOfInstallments}}</td>
            <td>{{financing().monthlyInterest}}%</td>
            <td>{{financing().lateInterest}}%</td>
            <td class="darker-td">${{financing().totalToPay}}</td>
        </tr>
    </table>
</div>
<div class="financing-container">
    <table>
        <tr>
            <th>Cuota</th>
            <th>Vencimiento cuota</th>
            <th>Capital</th>
            <th>Intereses</th>
            <th>Valor aval</th>
            <th>¿Cuota cancelada?</th>
            <th>Valor cuota</th>
            <th>Valor debe</th>
            <th>Dias vencidos</th>
            <th>Interes mora</th>
            <th>Total cuota</th>
        </tr>
        @for (inst of financing().installments; track inst._id) {
        <tr>
            <td>{{inst.installmentNumber}}</td>
            <td>{{inst.dueDate}}</td>
            <td>${{inst.capital}}</td>
            <td>${{inst.interests}}</td>
            <td>${{inst.guaranteeValue}}</td>
            <td>{{inst.installmentPaid}}</td>
            <td>${{inst.installmentValue}}</td>
            <td>${{inst.outstandingValue}}</td>
            <td>{{inst.overdueDays}}</td>
            <td>${{inst.lateInterests}}</td>
            <td>${{inst.totalInstallmentValue}}</td>
        </tr>
        }
    </table>
</div>

<div class="motorcycle-container info-container">
    <h3 class="container-title">Motocicleta</h3>
    <table class="motorcycle-info-table">
        <tr>
            <th>Placa</th>
            <th>Linea</th>
            <th>Marca</th>
        </tr>
        <tr>
            <td>{{financing().motorcycle.licensePlate}}</td>
            <td>{{financing().motorcycle.model}}</td>
            <td>{{financing().motorcycle.brand}}</td>
        </tr>
    </table>
</div>
}