@if (financing() === undefined) {

} @else {
<div class="motorcycle-container">
    <table>
        <tr>
            <th>{{ 'UI.CLIENTS.FINANCING.INITIAL_PAYMENT' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.FINANCED_AMOUNT' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.NUM_INST' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.MONTH_INT' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.LATE_INT' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.TOTAL_PAY' | translate }}</th>
        </tr>
        <tr>
            <td>{{ financing().initialInstallment | currency:'':'symbol':'1.0-0' }}</td>
            <td>{{ financing().financedAmount | currency:'':'symbol':'1.0-0' }}</td>
            <td>{{ financing().numberOfInstallments }}</td>
            <td>{{ financing().monthlyInterest }}%</td>
            <td>{{ financing().lateInterest }}%</td>
            <td class="darker-td">
                {{ financing().totalToPay | currency:'':'symbol':'1.0-0' }}
            </td>
        </tr>
    </table>
</div>
<div class="financing-container">
    <table>
        <tr>
            <th>{{ 'UI.CLIENTS.FINANCING.INST' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.DUE_DATE' | translate }}</th>
            <th>Capital</th>
            <th>{{ 'UI.CLIENTS.FINANCING.INT' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.GUARANTEE' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.INST_PAID' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.INST_VALUE' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.OUTS_VALUE' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.OVERDUE_DAYS' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.LATE_INT' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.TOTAL_VALUE' | translate }}</th>
        </tr>
        @for (inst of financing().installments; track inst._id) {
        <tr>
            <td>{{ inst.installmentNumber }}</td>
            <td>{{ inst.dueDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ inst.capital | currency }}</td>
            <td>{{ inst.interest | currency }}</td>
            <td>{{ inst.guaranteeValue | currency }}</td>
            @if (inst.installmentPaid) {
            <td style="color: #1c7a2d;">{{ 'FIELDS.YES' | translate }}</td>
            } @else {
            <td style="color: #a71d2a;">No</td>
            }
            <td>{{ inst.installmentValue | currency }}</td>
            <td>{{ inst.outstandingValue | currency }}</td>
            <td>{{ inst.overdueDays }}</td>
            <td>{{ inst.lateInterests | currency }}</td>
            <td>{{ inst.totalInstallmentValue | currency }}</td>
        </tr>
        }
    </table>
</div>

<div class="motorcycle-container info-container">
    <h3 class="container-title">{{ 'UI.CLIENTS.FINANCING.BIKE' | translate }}</h3>
    <table class="motorcycle-info-table">
        <tr>
            <th>{{ 'UI.CLIENTS.FINANCING.LIC_PLATE' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.MODEL' | translate }}</th>
            <th>{{ 'UI.CLIENTS.FINANCING.BRAND' | translate }}</th>
        </tr>
        <tr>
            <td>{{ financing().motorcycle.licensePlate }}</td>
            <td>{{ financing().motorcycle.model }}</td>
            <td>{{ financing().motorcycle.brand }}</td>
        </tr>
    </table>
</div>
}