<div class="container">
    <div class="map-container">
        <img src="assets/imgs/map.png" alt="Google Map">
    </div>
    <div class="house-container">

    </div>
    <div class="address-container">
        <h3 class="container-title">Dirección</h3>
        <p>Calle 41 # 65 - 52</p>
        <p>Barrio: Miraflores</p>
        <p>Sector:</p>
        <p>Información adicional:</p>
    </div>
    <div class="button-container">
        <button class="primaryBtn editBtn">Editar</button>
    </div>
</div>