.container {
  display: grid;
}

.map-container {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  margin: 60px auto 20px auto;
  position: relative;
}

.map-container img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.property-container {
  margin: 20px auto;
}

.property-container h3 {
  font-size: 1.4em;
}

.house-container {
  width: 400px;
  height: max-content;
  border: 1px solid black;
  margin: 0 auto 20px auto;
}

.address-container {
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}

.button-container {
  margin: 30px auto;
}

.form-container {
  display: grid;
  margin-top: 10px;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 300px;
  margin: 20px auto;
  font-size: 1em;
  text-align: center;
}

.form-container input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-container textarea {
  resize: none;
  text-align: start;
}

.loader-container {
  text-align: center;
  margin-top: 100px;
  height: 320px;
}