<div class="header-container">
    <app-header [isInAccountSettings]="true"></app-header>
</div>
<div class="container">
    <aside>
        <div class="profile-container">
            <h1>{{ userName() }}</h1>
            <h2>{{ userRole() }}</h2>
        </div>
        <div class="a-container">
            <a (click)="goToProfile()">{{ 'UI.ACCOUNT.PROFILE' | translate }}</a><br>
            <a (click)="goToSettings()">{{ 'UI.ACCOUNT.SETTINGS' | translate }}</a>
            <a (click)="goBack()">{{ 'BUTTONS.GO_BACK' | translate }}</a>
        </div>
    </aside>
    <main>
        <router-outlet />
    </main>
</div>
<div class="footer-container">
    <app-footer />
</div>