<div class="container" [style]="{'background-color': isInAccountSettings ? 'rgba(0,0,0,0.8)' : ''}">
    <div class="logo">
        <a routerLink="/home">
            <img src="assets/imgs/logo.png" alt="FinAliado logo">
        </a>
    </div>
    @if (!isInAccountSettings) {
    <div class="sidepanel" #sidepanel>
        <div class="sidepanel-container">
            <img [src]="userPhoto() === '' || userPhoto() === null ? 'assets/imgs/user.png' : userPhoto()" alt="User">
            <p>{{ userName() }}</p>
            <a class="closebtn" (click)="closeSidePanel()">&times;</a>
        </div>
        <hr>
        <a (click)="goToProfile()">{{ 'UI.HOME.SIDEPANEL.PROFILE' | translate }}</a>
        <a (click)="goToSettings()">{{ 'UI.HOME.SIDEPANEL.SETTINGS' | translate }}</a>
        <hr>
        <a (click)="onLogout()">{{ 'UI.HOME.SIDEPANEL.LOGOUT' | translate }}</a>
    </div>
    <div class="user">
        <img [src]="userPhoto() === '' || userPhoto() === null ? 'assets/imgs/user.png' : userPhoto()" alt="User"
            (click)="openSidePanel()">
    </div>
    }
</div>