<div class="container">
    <div class="cod-container">

    </div>
    <div class="info-container">
        <table>
            <tr>
                <th>Ocupación</th>
                <td>Vendedor</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>Homecenter</td>
            </tr>
            <tr id="tr-bar">
                <th>Antigüedad</th>
                <td>3 años</td>
            </tr>
            <tr>
                <th>Ingresos</th>
                <td>$ 2.000.000</td>
            </tr>
            <tr>
                <th>Ingresos adicionales</th>
                <td>$ 500.000</td>
            </tr>
            <tr>
                <th>Egresos</th>
                <td>$ 1.000.000</td>
            </tr>
        </table>
    </div>
    <div class="ref-container">
        <h3 class="container-title">Referencias</h3>
        <table>
            <tr>
                <th colspan="3">Familiares</th>
            </tr>
            <tr>
                <td>Pedro Vélez</td>
                <td>Hermano</td>
                <td>312155777</td>
            </tr>
            <tr>
                <td>María Martinez</td>
                <td>Madre</td>
                <td>312155777</td>
            </tr>
            <tr>
                <th colspan="3">Personales</th>
            </tr>
            <tr>
                <td>Camilo Duarte</td>
                <td>Vecino</td>
                <td>302545656</td>
            </tr>
            <tr>
                <td>Juan García</td>
                <td>Amigo</td>
                <td>302545998</td>
            </tr>
            <tr>
                <th colspan="3">Comerciales</th>
            </tr>
            <tr>
                <td>Cooperativa Palo Alto</td>
                <td>Entidad Financiera</td>
                <td>310665650</td>
            </tr>
            <tr>
                <td>Banco MAR</td>
                <td>Entidad Financiera</td>
                <td>310121212</td>
            </tr>
        </table>
    </div>
    <div class="button-container">
        <button class="primaryBtn editBtn">Editar</button>
    </div>
</div>