.container {
  display: grid;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 5px 20px;
  background-color: #ffd1cd;
}

td {
  padding: 10px 20px;
}

.cod-container {
  display: flex;
  margin: 50px auto 0 auto;
  width: 400px;
  font-size: 1.2em;
  justify-content: space-evenly;
}

.info-container {
  margin: 40px auto 10px auto;
  font-size: 1.1em;
}

.info-container th {
  text-align: left;
}

.info-container td {
  min-width: 150px;
}

.ref-container {
  margin: 30px auto 10px auto;
  font-size: 1.1em;
}

.ref-container h3 {
  text-align: center;
}

.ref-container th {
  border: 1px solid black;
}

.button-container {
  margin: 30px auto;
}

.editMode .form-container {
  display: flex;
  /* border: 1px solid blue; */
  margin: 20px auto;
  justify-content: space-between;
  font-size: 1.1em;
}

.form-container input {
  font-size: 0.8em;
  width: 150px;
  margin-left: 15px;
}