<div class="search-container">
    <div class="filter-options">
        <button class="filter-btn" [class.active]="managerBtnSelected()" (click)="filterByManagers()">Gestores</button>
        <button class="filter-btn" [class.active]="assistantBtnSelected()" (click)="filterByAssistants()">Auxiliares</button>
    </div>
    <div class="search-bar">
        <input type="text" name="search" id="search" [(ngModel)]="searchTerm">
        <button type="button" class="primaryBtn" (click)="searchUser()">Search</button>
    </div>
</div>
<br>
<div class="users-container">
    <table class="users-table">
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        @for (user of filteredUsers(); track user._id) {
        <tr (click)="openUserProfile(user._id)">
            <td>{{ user.name }}</td>
            <td>{{ user.role }}</td>
        </tr>
        }
    </table>
</div>