<div class="search-container">
    <div class="filter-options">
        Auxiliar - Gestor
    </div>
    <div class="search-bar">
        <input type="text" name="search" id="search" [(ngModel)]="searchTerm">
        <button type="button" class="primaryBtn">Search</button>
    </div>
</div>
<br>
<div class="users-container">
    <table class="users-table">
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        @for (user of managers().concat(assistants()); track user._id) {
        <tr (click)="openUserProfile(user._id)">
            <td>{{ user.name }}</td>
            <td>{{ user.role }}</td>
        </tr>
        }
    </table>
</div>