@if (user() === undefined) {

} @else {
<div class="name-container">
    <h3>{{ user().name }}</h3>
</div>
@if (!editMode) {
<div class="container user-container">
    <div class="img-container">
        <img src="assets/imgs/user.png" alt="User Image">
    </div>
    <div class="info-container">
        <p>Rol: {{ user().role }}</p>
        <p>Correo: {{ user().email }}</p>
        <p>Teléfono: {{ user().phone }}</p>
    </div>
    <div class="button-container" style="display: grid;">
        <button class="primaryBtn editBtn firstBtn" (click)="prepopulateForm()">Editar</button>
        @if (user().role === 'manager') {
        <button class="primaryBtn largeBtn" routerLink="debtors-list">Deudores asignados</button>
        }
    </div>
</div>
} @else {
<div class="container user-container">
    <div class="img-container editMode">
        <img src="assets/imgs/user.png" alt="User Image">
    </div>
    <form class="info-container" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="email">Correo</label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="input-container">
            <label for="phone">Teléfono</label>
            <input type="text" name="phone" formControlName="phone">
        </div>
        <div class="button-container">
            <button type="submit" class="primaryBtn editBtn">Guardar</button>
            <button type="button" class="primaryBtn editBtn" (click)="changeEditMode()">Cancelar</button>
        </div>
    </form>
</div>
}
}