@if (user() === undefined) {

} @else {
<div class="name-container">
    <h3>{{ user().name }}</h3>
</div>
@if (!editMode) {
<div class="container user-container">
    <div class="img-container">
        <img [src]="user().photo === '' ? 'assets/imgs/user.png' : user().photo" alt="User Image">
    </div>
    <div class="info-container">
        <p>{{ 'FIELDS.ROLE' | translate }}: {{ user().role }}</p>
        <p>{{ 'FIELDS.EMAIL' | translate }}: {{ user().email }}</p>
        <p>{{ 'FIELDS.PHONE' | translate }}: {{ user().phone }}</p>
    </div>
    <div class="button-container" style="display: grid;">
        <button class="primaryBtn editBtn firstBtn" (click)="prepopulateForm()">{{ 'BUTTONS.EDIT' | translate
            }}</button>
        @if (user().role === 'manager') {
        <button class="primaryBtn largeBtn" routerLink="debtors-list">{{ 'BUTTONS.ASSIGNED_DEBTORS' | translate
            }}</button>
        }
    </div>
</div>
} @else {
<div class="container user-container">
    <div class="img-container editMode">
        <img [src]="user().photo === '' ? 'assets/imgs/user.png' : user().photo" alt="User Image">
    </div>
    <form class="info-container" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="email">{{ 'FIELDS.EMAIL' | translate }}</label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="input-container">
            <label for="phone">{{ 'FIELDS.PHONE' | translate }}</label>
            <input type="text" name="phone" formControlName="phone">
        </div>
        <div class="button-container">
            <button type="submit" class="primaryBtn editBtn">{{ 'BUTTONS.SAVE' | translate }}</button>
            <button type="button" class="primaryBtn editBtn" (click)="changeEditMode()">{{ 'BUTTONS.CANCEL' | translate
                }}</button>
        </div>
    </form>
</div>
}
}