<div class="container">
    <aside>
        <div class="support-container">
            <h1>{{ 'UI.SUPPORT.TECH_SUPPORT_TITLE' | translate }}</h1>
            <hr>
            <p><strong>{{ 'FIELDS.PHONE' | translate }}:</strong><br>3127751316</p>
            <p><strong>{{ 'FIELDS.EMAIL' | translate }}:</strong><br>soporte.finapp&#64;gmail.com</p>
        </div>
    </aside>
    <main>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-container subject-input">
                <label for="subject">{{ 'FIELDS.SUBJECT' | translate }}</label>
                <input type="text" name="subject" id="subject" formControlName="subject">
            </div>
            <div class="input-container message-input">
                <label for="message">{{ 'FIELDS.MESSAGE' | translate }}</label>
                <textarea name="message" id="message" formControlName="message"></textarea>
            </div>
            <div class="btn-container">
                <button type="submit" class="primaryBtn mediumBtn">
                    {{ 'BUTTONS.SEND' | translate }}
                </button>
            </div>
        </form>
    </main>
</div>
<div class="btn-container" style="margin: 50px auto 0 auto">
    <button class="secondaryBtn mediumBtn" (click)="goBack()">
        {{ 'BUTTONS.GO_BACK' | translate }}
    </button>
</div>