<div class="buttons-container">
    <div class="first-buttons-row">
        <button class="primaryBtn sameSizeBtn" routerLink="personal-info">Personal Info</button>
        <button class="primaryBtn sameSizeBtn" routerLink="geo-info">Geographic Info</button>
        <button class="primaryBtn sameSizeBtn" routerLink="commercial-info">Commercial Info</button>
    </div>
    <div class="last-buttons-row">
        <button class="primaryBtn largeBtn" routerLink="financing">Financing</button>
    </div>
</div>