<div class="search-container">
    <div class="filter-dropdown">
        <button class="dropbtn">{{ 'BUTTONS.FILTER_BY_STATUS' | translate }}</button>
        <div class="dropdown-content">
            <form [formGroup]="filterForm" (ngSubmit)="filterByStatuses()">
                @for (option of options; track option.key) {
                <input type="checkbox" class="custom-checkbox" [formControlName]="option.key" />
                <label>{{ option.name }}</label>
                <br><br>
                }
                <div class="filterbtn-container">
                    <button type="submit" class="primaryBtn">{{ 'BUTTONS.FILER' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" name="search" id="search" [(ngModel)]="searchTerm">
        <button type="button" class="primaryBtn" (click)="searchClient()">{{ 'BUTTONS.SEARCH' | translate }}</button>
    </div>
</div>
<br>
<div class="clients-container">
    <table class="clients-table">
        <tr>
            <th>Id</th>
            <th>{{ 'FIELDS.NAME' | translate }}</th>
            <th>{{ 'FIELDS.STATUS' | translate }}</th>
        </tr>
        @for (debtor of debtors(); track debtor._id) {
        <tr (click)="openClientProfile(debtor._id)">
            <td>{{ debtor.identification.number }}</td>
            <td>{{ debtor.name }}</td>
            <td>{{ debtor.financing.status | enum:'ENUMS.STATUS' }}</td>
        </tr>
        }

    </table>
</div>