<div class="search-container">
    <div class="filter-dropdown">
        <button class="dropbtn">Filter by Financing Status</button>
        <div class="dropdown-content">
            <form>
                @for (option of options; track option.name) {
                <input type="checkbox" checked class="custom-checkbox"/>
                <label>{{option.name}}</label>
                <br><br>
                }
                <div class="filterbtn-container">
                    <button type="button" class="primaryBtn">Filter</button>
                </div>
            </form>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" name="search" id="search">
        <button type="button" class="primaryBtn">Search</button>
    </div>
</div>
<br>
<div class="clients-container">
    <table class="clients-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        @for (debtor of debtors(); track debtor._id) {
        <tr (click)="openClientProfile(debtor._id)">
            <td>{{ debtor.identification.number }}</td>
            <td>{{ debtor.name }}</td>
            <td>{{ debtor.financing.status }}</td>
        </tr>
        }

    </table>
</div>
<button (click)="showDebtors()">Show Debtors</button>
