@if (personalInfo()=== undefined) {

} @else {
@if (!editMode) {
<div class="container client-container">
    <div class="img-container">
        <img [src]="personalInfo().photo === '' ? 'assets/imgs/user.png' : personalInfo().photo" alt="User Image">
    </div>
    <div class="info-container">
        <p>ID: {{ client().identification.number }} - {{ client().identification.idType }}</p>
        <p>{{ 'FIELDS.EMAIL' | translate }}: {{ personalInfo().email }}</p>
        <p>{{ 'FIELDS.PHONE' | translate }}: {{ personalInfo().phone }}</p>
        <p>{{ 'FIELDS.BIRTHDATE' | translate }}: {{ personalInfo().birthDate | date:'longDate' }}</p>
    </div>
    <div class="button-container">
        <button class="primaryBtn editBtn" (click)="prepopulateForm()">
            {{ 'BUTTONS.EDIT' | translate }}
        </button>
    </div>
</div>
} @else {
@if (isModalOpen) {
<app-profile-picture-modal (close)="closeProfilePictureModal()" (newImageUrl)="updateClientPhoto($event)"
    [model]="'personal-info'" [modelId]="personalInfo()._id" [actualImageUrl]="personalInfo().photo" />
}
<div class="container client-container">
    <div class="img-container editMode" (click)="openProfilePictureModal()">
        <img [src]="personalInfo().photo === '' ? 'assets/imgs/user.png' : personalInfo().photo" alt="User Image">
        <p class="editText">
            {{ 'BUTTONS.EDIT' | translate }}
        </p>
    </div>
    <form class="info-container" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="idNumber">Id</label>
            <input type="text" name="idNumber" formControlName="idNumber">
        </div>
        <div class="input-container">
            <label for="email">{{ 'FIELDS.EMAIL' | translate }}</label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="input-container">
            <label for="phone">{{ 'FIELDS.PHONE' | translate }}</label>
            <input type="text" name="phone" formControlName="phone">
        </div>
        <div class="input-container">
            <label for="birthDate">{{ 'FIELDS.BIRTHDATE' | translate }}</label>
            <input type="date" name="birthDate" formControlName="birthDate">
        </div>
        <div class="button-container">
            <button type="submit" class="primaryBtn editBtn">
                {{ 'BUTTONS.SAVE' | translate }}
            </button>
            <button type="button" class="primaryBtn editBtn" (click)="changeEditMode()">
                {{ 'BUTTONS.CANCEL' | translate }}
            </button>
        </div>
    </form>
</div>
}
}