@if (personalInfo()=== undefined) {

} @else {
@if (!editMode) {
<div class="container client-container">
    <div class="img-container">
        <img [src]="personalInfo().photo === '' ? 'assets/imgs/user.png' : personalInfo().photo" alt="User Image">
    </div>
    <div class="info-container">
        <p>ID: {{ client().identification.number }} - {{ client().identification.idType }}</p>
        <p>Correo: {{ personalInfo().email }}</p>
        <p>Teléfono: {{ personalInfo().phone }}</p>
        <p>Fecha de nacimiento: {{ personalInfo().birthDate | date:'longDate' }}</p>
    </div>
    <div class="button-container">
        <button class="primaryBtn editBtn" (click)="prepopulateForm()">Editar</button>
    </div>
</div>
} @else {
@if (isModalOpen) {
<app-profile-picture-modal (close)="closeProfilePictureModal()" (newImageUrl)="updateClientPhoto($event)"
    [model]="'personal-info'" [modelId]="personalInfo()._id" [actualImageUrl]="personalInfo().photo" />
}
<div class="container client-container">
    <div class="img-container editMode" (click)="openProfilePictureModal()">
        <img [src]="personalInfo().photo === '' ? 'assets/imgs/user.png' : personalInfo().photo" alt="User Image">
        <p class="editText">Edit</p>
    </div>
    <form class="info-container" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-container">
            <label for="idNumber">Id</label>
            <input type="text" name="idNumber" formControlName="idNumber">
        </div>
        <div class="input-container">
            <label for="email">Correo</label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="input-container">
            <label for="phone">Teléfono</label>
            <input type="text" name="phone" formControlName="phone">
        </div>
        <div class="input-container">
            <label for="birthDate">Fecha de nacimiento</label>
            <input type="date" name="birthDate" formControlName="birthDate">
        </div>
        <div class="button-container">
            <button type="submit" class="primaryBtn editBtn">Guardar</button>
            <button type="button" class="primaryBtn editBtn" (click)="changeEditMode()">Cancelar</button>
        </div>
    </form>
</div>
}
}